<div class="row">
  <div class="col-md-7" >
    <a   (click)="OnSelectedRecipe( )"
         ref="#"
      class="list-group-item clearfix"
    >
      <h4 class="list-group-heading">{{recipe.name}}</h4>
      <p  class="list-group-text">  {{recipe.description}}
        <span class="pull-right">
         <img
           [src]="recipeimagePath"
           alt= {{recipe.naem}}
           class="img-responsive"
            style="max-height: 50px"/>
        </span>
      </p>
    </a>
  </div>
</div>


